{% load static %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
  {% draw_menu 'main_menu' %}
  <p>Знаете, для чего в самолётах нужны кислородные маски? — Чтобы дышать. — Кислород опьяняет. В катастрофических ситуациях люди впадают в панику и бешено глотают воздух, и вдруг эйфория, покой, и ты смиряешься с судьбой. Вот рисунок. Аварийное приводнение — 600 миль в час. А на лицах спокойствие, как у коров в Индии..</p>
  <p><a href="{% url 'admin:index' %}">Перейти в админку</a></p>
</body>
</html>
